@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

header {
  background: rgb(84, 109, 138);
  background: linear-gradient(58deg, rgb(84, 109, 138) 67%, rgb(249, 249, 249) 67%);
}
header .navbar-brand {
  transition: transform 0.4s cubic-bezier(0.37, 0, 0.63, 1);
}
header .navbar-brand:hover {
  transform: scale(1.1);
}

.nav-item {
  transition: transform 0.4s cubic-bezier(0.37, 0, 0.63, 1);
}
.nav-item:hover {
  transform: scale(1.1);
}

.main-index {
  background-image: url("../assets/img/triumph-te1-ge-2837-1200.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-index section {
  width: 100%;
  height: 45rem;
}
.main-index section .bloque-div {
  width: 70%;
  height: 36.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.0625rem;
}
.main-index section .bloque-div div {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 38%;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 0.3125rem;
  margin-right: 5.3125rem;
}
.main-index section .bloque-div div p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.1875rem;
  color: rgb(210, 210, 210);
}
.main-index div .video {
  display: flex;
  justify-content: center;
}
.main-index div .padre-card {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.main-index div .padre-card .start-stop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 0px 0.125rem;
  text-align: center;
  border: black solid 0.125rem;
  border-radius: 0.3125rem;
}
.main-index div .padre-card .start-stop h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}
.main-index div .padre-card .start-stop p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

footer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". marca contactos";
  background-color: #1D3F40;
}
footer .marca {
  grid-area: marca;
  justify-self: center;
  display: flex;
  align-items: center;
}
footer .marca p {
  text-align: center;
  background-color: white;
  padding: 0.375rem 0.625rem;
  border-radius: 0.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}
footer .contactos {
  grid-area: contactos;
  display: flex;
  justify-content: center;
  gap: 1.5625rem;
}
footer .contactos div ul {
  list-style: none;
  margin-top: 0.3125rem;
}
footer .contactos div ul li a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}
footer .contactos div ul {
  list-style: none;
  margin-top: 0.3125rem;
}
footer .contactos div ul li a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}
footer .contactos div {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.producto-main {
  background-color: #1A1919;
}
.producto-main section {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: repeat(2, 23.75rem);
  grid-template-areas: "col1 col4" "col2 col3";
  justify-content: center;
  gap: 0.625rem;
  padding: 6.4rem 0rem;
}
.producto-main section .color1 {
  grid-area: col1;
  background-image: url("../assets/img/triumph_te-1_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 1.25rem;
  left: 1.125rem;
}
.producto-main section .color2 {
  grid-area: col2;
  padding-top: 1.25rem;
  justify-self: center;
}
.producto-main section .color2 p {
  width: auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  color: white;
}
.producto-main section .color3 {
  grid-area: col3;
  background-image: url("../assets/img/triumph_te-1_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.producto-main section .color4 {
  grid-area: col4;
  width: 4.8116rem;
  height: 9.375rem;
  background-color: rgba(223, 144, 75, 0.6823529412);
  align-self: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.producto-main section .color4 h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.125rem;
  position: relative;
  left: 1.25rem;
}

main {
  background-color: rgb(216, 216, 216);
}
main .grid-cards {
  width: 100%;
  height: 45rem;
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: repeat(2, 250px);
  grid-template-areas: "car1 car2" "car3 car4";
  justify-content: center;
  align-content: center;
  gap: 2.1875rem;
}
main .grid-cards .card1 {
  grid-area: car1;
  background-color: #d0d0d0;
  width: 80%;
  justify-self: center;
  box-shadow: 0.5rem 0.375rem rgba(128, 128, 128, 0.589);
  border-radius: 0.5rem;
}
main .grid-cards .card1 div {
  display: flex;
  justify-content: center;
}
main .grid-cards .card1 div img {
  position: relative;
  bottom: 1.875rem;
  right: 3.125rem;
}
main .grid-cards .card1 div h1 {
  font-size: 2.1875rem;
  font-family: "Roboto", sans-serif;
  padding-left: 1.5625rem;
}
main .grid-cards .card1 p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.1875rem;
  text-align: center;
}
main .grid-cards .card2 {
  grid-area: car2;
  background-color: #d0d0d0;
  width: 80%;
  justify-self: center;
  box-shadow: 0.5rem 0.375rem rgba(128, 128, 128, 0.589);
  border-radius: 0.5rem;
}
main .grid-cards .card2 div {
  display: flex;
  justify-content: center;
}
main .grid-cards .card2 div img {
  position: relative;
  right: 3.125rem;
  bottom: 1.5625rem;
}
main .grid-cards .card2 div h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
}
main .grid-cards .card2 p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4375rem;
}
main .grid-cards .card3 {
  grid-area: car3;
  background-color: #d0d0d0;
  width: 80%;
  justify-self: center;
  box-shadow: 0.5rem 0.375rem rgba(128, 128, 128, 0.589);
  border-radius: 0.5rem;
}
main .grid-cards .card3 div {
  display: flex;
  justify-content: center;
}
main .grid-cards .card3 div img {
  position: relative;
  right: 2.8125rem;
  bottom: 1.5625rem;
}
main .grid-cards .card3 div h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
}
main .grid-cards .card3 p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.0625rem;
}
main .grid-cards .card4 {
  grid-area: car4;
  background-color: #d0d0d0;
  width: 80%;
  justify-self: center;
  box-shadow: 0.5rem 0.375rem rgba(128, 128, 128, 0.589);
  border-radius: 0.5rem;
}
main .grid-cards .card4 div {
  display: flex;
  justify-content: center;
}
main .grid-cards .card4 div img {
  position: relative;
  right: 2.1875rem;
  bottom: 1.875rem;
}
main .grid-cards .card4 div h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
  padding-right: 1rem;
}
main .grid-cards .card4 p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1.4375rem;
}
main .carousel {
  margin: 0.625rem;
}
main .carousel img {
  width: 100%;
  height: 34rem;
}

.main-colores {
  background-color: rgb(216, 216, 216);
}
.main-colores .colores-p {
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-colores .colores-p p {
  width: 40%;
  height: 50%;
  background-color: rgba(249, 217, 73, 0.5058823529);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.0625rem;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.763);
}
.main-colores section .colores-2 {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: end;
  padding: 0px 2.1875rem;
  gap: 1.25rem;
}
.main-colores section .colores-2 .div-1 {
  width: 60px;
  height: 60px;
  background-color: #860000;
  border-radius: 50%;
  transition: transform 0.7s;
}
.main-colores section .colores-2 .div-1:hover {
  transform: scale(1.4);
}
.main-colores section .colores-2 .div-2 {
  width: 60px;
  height: 60px;
  background-color: #2C727E;
  border-radius: 50%;
  transition: transform 0.7s;
}
.main-colores section .colores-2 .div-2:hover {
  transform: scale(1.4);
}
.main-colores section .colores-2 .div-3 {
  width: 60px;
  height: 60px;
  background-color: #8598A7;
  border-radius: 50%;
  transition: transform 0.7s;
}
.main-colores section .colores-2 .div-3:hover {
  transform: scale(1.4);
}
.main-colores section .div-motos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5625rem;
  padding-top: 8rem;
  padding-bottom: 9.5rem;
}
.main-colores section .div-motos .moto {
  width: 19.375rem;
  height: 15rem;
  border-radius: 0.625rem;
  background-color: rgb(177, 176, 176);
}

.main-acerca {
  background-color: rgb(216, 216, 216);
}
.main-acerca section {
  width: 100%;
  height: 100%;
}
.main-acerca section .acerca-p {
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-acerca section .acerca-p p {
  width: 40%;
  height: 50%;
  background-color: rgba(115, 187, 201, 0.5019607843);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.9375rem;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 0.375rem;
  box-shadow: 0.25rem 0.3125rem rgba(128, 128, 128, 0.668);
}
.main-acerca section .div-img {
  width: 100%;
  height: 28.125rem;
  background-image: url("../assets/img/Triumph-TE-1-diseno-terminado-ambiente.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 1.25rem;
  border-radius: 0.375rem;
}

@media (max-width: 1024px) {
  .main-index {
    background-position: center;
  }
  .main-index section .bloque-div div p {
    font-size: 1.875rem;
  }
  .main-index div .video iframe {
    width: 40.5rem;
    height: 25rem;
  }
  .producto-main section .color2 p {
    font-size: 1.5625rem;
  }
  .main-bene .grid-cards .card1 {
    width: 98%;
  }
  .main-bene .grid-cards .card2 {
    width: 98%;
  }
  .main-bene .grid-cards .card3 {
    width: 98%;
  }
  .main-bene .grid-cards .card4 {
    width: 98%;
  }
  .main-acerca section .acerca-p p {
    width: 47%;
    height: 55%;
  }
  .main-colores .colores-p p {
    width: 50%;
    height: 60%;
  }
  .main-colores section .div-motos .moto {
    width: 14.7rem;
    height: 13.5rem;
  }
}
@media (max-width: 768px) {
  .main-index section .bloque-div div p {
    font-size: 1.5625rem;
  }
  .main-index div .video iframe {
    width: 35.5rem;
    height: 20rem;
  }
  .producto-main section {
    grid-template-columns: 50% 50%;
    grid-template-rows: 12.5rem 21.875rem 21.875rem;
    grid-template-areas: "col4 col4" "col1 col2" "col3 col3";
    gap: 1.875rem;
    padding: 0px 1rem;
    padding-bottom: 2.5rem;
  }
  .producto-main section .color1 {
    top: 0px;
  }
  .producto-main section .color2 {
    justify-self: start;
    padding-top: 0px;
  }
  .producto-main section .color2 p {
    text-align: left;
    font-size: 1.4375rem;
  }
  .producto-main section .color3 {
    width: 90%;
    justify-self: center;
  }
  .producto-main section .color4 {
    width: 50%;
    height: 35%;
    margin-left: 10.5rem;
  }
  .producto-main section .color4 h1 {
    font-size: 1.5625rem;
  }
  .main-bene .grid-cards {
    gap: 4.375rem;
  }
  .main-bene .grid-cards .card1 {
    width: 14.375rem;
  }
  .main-bene .grid-cards .card1 div img {
    right: 1.1875rem;
  }
  .main-bene .grid-cards .card1 div h1 {
    padding-left: 1rem;
  }
  .main-bene .grid-cards .card2 {
    width: 14.375rem;
  }
  .main-bene .grid-cards .card2 div img {
    right: 1.125rem;
  }
  .main-bene .grid-cards .card3 {
    width: 14.375rem;
  }
  .main-bene .grid-cards .card3 div img {
    right: 1rem;
  }
  .main-bene .grid-cards .card3 div h2 {
    font-size: 1.5625rem;
  }
  .main-bene .grid-cards .card4 {
    width: 14.375rem;
  }
  .main-bene .grid-cards .card4 div h2 {
    font-size: 1.5625rem;
  }
  .main-acerca section .acerca-p p {
    width: 57%;
    height: 65%;
  }
  .main-colores .colores-p p {
    width: 70%;
    height: 70%;
  }
  .main-colores section .colores-2 {
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
  .main-colores section .div-motos {
    flex-direction: column;
    align-items: center;
  }
  .main-colores section .div-motos .moto {
    width: 19rem;
    height: 15.6rem;
  }
}
@media (max-width: 610px) {
  .main-index section .bloque-div div {
    width: 80%;
    height: 40%;
    margin-left: 2.1875rem;
  }
  .main-index div .video iframe {
    width: 29rem;
    height: 16rem;
  }
  .producto-main section {
    grid-template-columns: 1fr;
    grid-template-rows: 12.5rem 21.875rem 21.875rem;
    grid-template-areas: "col4" "col3" "col2";
  }
  .producto-main section .color1 {
    display: none;
  }
  .producto-main section .color2 {
    align-self: center;
  }
  .producto-main section .color2 p {
    text-align: center;
    font-size: 1.875rem;
  }
  .producto-main section .color4 {
    margin-left: 0px;
    justify-self: center;
  }
  .main-bene .grid-cards {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 12.5rem);
    grid-template-areas: "car1" "car2" "car3" "car4";
    align-items: center;
    padding: 3.75rem 0px;
  }
}
@media (max-width: 480px) {
  .main-index {
    background-position: 58% center;
  }
  .main-index section .bloque-div div {
    width: 85%;
    height: 45%;
    margin-left: 4.375rem;
  }
  .main-index div .video iframe {
    width: 22rem;
    height: 12.4rem;
  }
  footer .marca {
    justify-content: center;
    width: 5rem;
  }
  footer .contactos {
    gap: 0.625rem;
  }
  footer .contactos .incons {
    margin-right: 1.125rem;
  }
  .main-acerca section .acerca-p p {
    width: 75%;
    height: 65%;
  }
  .producto-main section .color2 p {
    font-size: 1.6875rem;
  }
  .main-colores .colores-p p {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 379px) {
  .main-index section .bloque-div div {
    height: 55%;
  }
  .main-index div .video iframe {
    width: 19.8rem;
    height: 11.3rem;
  }
  .producto-main section .color2 p {
    font-size: 1.5rem;
  }
  .producto-main section .color4 {
    width: 60%;
  }
  .producto-main section .color4 h1 {
    padding-right: 1.25rem;
  }
  .main-acerca section .acerca-p p {
    width: 85%;
    height: 70%;
    font-size: 1.875rem;
  }
}

/*# sourceMappingURL=style.css.map */
