@mixin grid ($col,$row,$justify,$aling,$area){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    justify-content: $justify;
    align-items: $aling;
    grid-template-areas: $area;
}