.main-acerca{
    background-color: rgb(216, 216, 216);
    section{
        width: 100%;
        height: 100%;
        .acerca-p{
            height: 25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                width: 40%;
                height: 50%;
                background-color: #73bbc980;
                font-family: 'Lato', sans-serif;
                font-weight: 700;
                font-size: 1.9375rem;
                display: flex;
                align-items: center;
                text-align: center;
                border-radius: .375rem;
                box-shadow: .25rem .3125rem rgba(128, 128, 128, 0.668);
            }
        }
        .div-img{
            width: 100%;
            height: 28.125rem;
            background-image: url("../assets/img/Triumph-TE-1-diseno-terminado-ambiente.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-bottom: 1.25rem;
            border-radius: .375rem;
        }
    }
}