@media (max-width:379px){
    .main-index{
        section{
            .bloque-div{
                div{
                    height: 55%;
                }
            }
        }
        div{
            .video{
                iframe{
                    width: 19.8rem;
                    height: 11.3rem;
                }
            }
        }
    }
    .producto-main{
        section{
            .color2{
                p{
                    font-size: 1.5rem;
                }
            }
            .color4{
                width: 60%;
                h1{
                    padding-right: 1.25rem;
                }
            }
        }
    }
    .main-bene{
        .carousel {
            width: 90%;
            padding-bottom: 1rem;
            img {
                height: 23rem;
            }
        }
    }
    .main-acerca{
        section{
            .acerca-p{
                p{
                    width: 85%;
                    height: 70%;
                    font-size: 1.875rem;
                }
            }
        }
    }
}